<!DOCTYPE html>
<html data-ng-app="promisingApp">
<head>
  <title>API Dashboard</title>
  <meta charset="utf8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css" />
  <link rel="stylesheet" href="styles/main.css" />
  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <script src="js/flakyHttp.js"></script>
  <script src="js/app.js"></script>
  <script src="js/api_dashboard_controller.js"></script>
</head>
<body>

<div data-ng-controller="ApiDashboardController as dash">

  <input type="text"
    data-ng-model="dash.api_endpoint"
    data-ng-keydown="$event.which === 13 && dash.getEndpoint()">
  <button data-ng-click="dash.getEndpoint()"
          data-ng-disabled="!dash.api_endpoint">
    Request Endpoint
    <span class="glyphicon glyphicon-refresh glyphicon-spin"
          data-ng-class="{hide: !dash.pending}">
    </span>
  </button>

  <h4>Some Popular Endpoints:</h4>
  <ul data-ng-repeat="api in dash.popular_endpoints">
    <li>
      <a data-ng-click="dash.getEndpoint(api)">{{api}}</a>
    </li>
  </ul>

  <h4 data-ng-show="dash.display_title">
    Results for <small>{{dash.display_title}}</small>
  </h4>

  <pre>
    {{ dash.display_error }}
    {{ dash.display_data | json }}
  </pre>

</div>

</body>
</html>
